<!DOCTYPE html PUBLIC "-//Netscape Comm. Corp.//DTD HTML//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <!--SeaMonkey--><!-- Note: the SeaMonkey comment allows some of the link constructions on this page to be picked-up correctly by the regexes in moth_browse.php -->
        <title>Moths Found {{ date_this_long }}</title>
    </head>
    <body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-image: url(../../back.jpg);" alink="#00afaf" link="#0000ff" vlink="#7f007f">
        <h1>Moths Found on {{ date_this_long }}</h1>
        <p><i>
            Back to <a href="{{ ['..', name_prefix + date_previous_dmy, name_prefix + date_previous_dmy]|join('/') + '.html' }}">{{ date_previous_long }}</a> moth page, <a href="{{ ['..', moth_index_file_name]|join('/') + '.html'}}">to general moths page</a>.
        </i></p>
        <p><b>
            {{ description_trapping }}{% if bullet_list|count > 0 %}&nbsp; Those worth photographing were:{% endif %}
        </b></p>
        {% if bullet_list|count > 0 %}
        <ul><b>
            {% for bullet in bullet_list %}
                <li>{{bullet.count_word + ' ' if bullet.count > 1}}{{ bullet.description + ' ' if bullet.description}}<a href="#{{ bullet.html_name }}">{{ bullet.common_name }}</a>{{'s' if bullet.count != 1}}{{ ' (previously photographed <a href="'|safe + bullet.previous_image +'">here</a>)'|safe if bullet.previous_image }}{{',' if not loop.last else '.' }}</li>
            {% endfor %}
        </b></ul>
        {% endif %}
        {% if reference_list|count > 0 %}
        <p><b>
            {% if bullet_list|count > 0 %}Otherwise t{% else %}T{% endif %}he trap included {% for reference in reference_list %}{{reference.count_word}} <a href="{{reference.previous_image}}">{{reference.common_name}}</a>{{'s' if reference.count != 1}}{{', ' if loop.revindex > 2 else ' and ' if loop.revindex > 1 else '.' }}{% endfor %}
        </b></p>
        {% endif %}
        {% if image_list|count > 0 %}
        <p>
            <table border="0" height="23" width="1500">
                <tbody>
                    <tr>
                        <td>
                            {% for image in image_list %}
                               {% if image.label %}<a name="{{ image.html_name }}"></a>{% endif %}<a href="{{ image.file_name }}"><img alt="{{ image.common_name }}" src="{{ image.file_name }}" border="1" height="275" hspace="2" vspace="2"></a>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
        {% endif %}
        <hr size="2" width="100%">
        <b>
            <a href="{{ url_site_index }}">Back to {{ site_name }} homepage</a>
        </b>
    </body>
</html>